body {
    padding-top: 3.6em;
}

.section-content{
    text-align: center;
}

#contact{
    padding-top: 1em;
    padding-bottom: 1em;
    background: #3a6186; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #3a6186 , #89253e);  Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #3a6186 , #89253e);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}

label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control{
    font-size: 1.3em;
    color: #080808;
}

.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .form-line{
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .form-line{
        border-right: 1px solid #B29999;
    }
}