label {
    display: inline-grid;
    max-width: 200px;
    text-align: center;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
    filter: brightness(1) grayscale(1) opacity(.7);
    cursor:pointer;
    border:2px solid transparent;
    max-width: 100px;
    vertical-align: middle;
}

label > input:checked + img{ /* IMAGE STYLES */
    filter: none;
    cursor:pointer;
    border:2px solid transparent;
    max-width: 100px;
}

label > input + img:hover{
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid grey;
}

.delivery_checkboxes {
    padding: 20px;
}