@media screen and (max-width: 600px) {
    .slick-slide {
        min-height:50vh;
    }
    .slide p {
        font-size: 2em;
    }
}

@media screen and (min-width: 601px) {
    .slick-slide {
        min-height:79vh;
    }
    .slide p {
        font-size: 4em;
    }
}

.slick-slide {
    width: 100vw;
    background-size:cover !important;
    background-position: center center !important;
    background-repeat: no-repeat;
}

.slick-slider {
    margin-bottom: 0 !important;
}

.slick-dots {
  bottom: 0px;
  margin-left: 0;
}

.navbar {
    margin-bottom: 0;
}

.slide p {
    padding-top: 25vh;
}

body {
    padding-top: 3.6em;
}
