.container.categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
}
.container .thumbex {
    margin: 10px 0px 10px;
    width: 100%;
    min-width: 250px;
    /*max-width: 330px;*/
    height: 300px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    /*outline: 2px solid white;*/
    outline-offset: -15px;
    /*background-color: blue;*/
    /*box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);*/
}
.container .thumbex .thumbnail {
    overflow: hidden;
    min-width: 250px;
    height: 100%;
    position: relative;
    opacity: 0.88;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;
    border: none;
}
.container .thumbex .thumbnail img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    /*height: 115%;*/
    width: auto;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
}
.container .thumbex .thumbnail span {
    position: absolute;
    z-index: 2;
    top: calc(150px - 20px);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 50px;
    margin: 0 45px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2px;
    transition: all 0.3s ease-out;
}
.container .thumbex .thumbnail:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
}
.container .thumbex .thumbnail:hover span {
    opacity: 0;
}