/* 404 page*/
.fallback_div{
    text-align: center;
}

.fallback_div span{
    font-size: 10em;
}

.image-thumb {
    max-width: 150px;
}

.clickable_icon {
    cursor: pointer;
}

.error {
    color: #c9302c;
}

.error-input {
    border-color: #c9302c;
}

footer {
    background: #FFFFFF;
    padding: 2em;
}

#change_language_form, #change_currency_form {
    padding: 0.5em;
    display: inline-block;
}
#change_language_form button, #change_currency_form button {
    border: none;
}

body {
    padding-top: 5em;
}

.cookie_info {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #CACACA;
    z-index: 100;
    padding: 8px 18px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
}

.cookie_info span {
    padding:5px 0 5px 0;
}

.cookie_info button {
    margin: 0 5px;
}

.welcome_text {
    text-align: center;
    font-size: 5em;
}