.miniature{
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

.language_name{
    display: inline-block;
}

.sortable_handle:hover {
    cursor: move;
}

.sortable_element {
    display: inline-block;
    text-align: center;
}

#sortable_div {
    padding-top: 20px;
}

.admin_fa {
    color: #72726e;
}

.header_row p {
    font-weight: bold;
}